<!DOCTYPE html>
<html>
<h1> Torrentz List</h1>
<body>
<script src="{{ url_for('static', filename='jquery.min.js') }}"> </script> 
<script type="text/javascript">

$(function() {
var timeout;
$('.trigger').hover(
    function() {
        id = $(this).attr('value')
        $('#'+id).show();
//2 seconds
    },
    function(){
        clearTimeout(timeout); //cancel the timeout if they hover off
        // do stuff when hover off
        $('#'+id).hide();
    }
);
});

function getCount(id){
  $.get(
    "/getcount/",
    {"id":id},
    function(data, status){
      alert(data)
    }
  ) 
}

  </script>

<style type="text/css">
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

li {
    display: inline;
    margin: 7px;
    padding: 10;
}
.hidden{
       display:none;
    }

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
</style>
{{ pagination.info }}
{{ pagination.links }}
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for user in torrents %}
      <tr>
        <td>{{ loop.index+skip}}</td>
        <td  class="trigger" value="{{user.id}}">
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ user.name }}
          <n id="{{user.id}}" class="hidden"><input type='button' value='view count' onclick="getCount({{user.id}})"/></n>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}

</body>
</html>